<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huike.ycu.mybatis.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.huike.ycu.mybatis.model.Customer">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="nick_name" property="nickname" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 添加 -->
    <insert id="insert" parameterType="com.huike.ycu.mybatis.model.Customer">
        INSERT INTO
            customer(username, password, sex)
        VALUES(
            #{username}, #{password}, #{sex}
        )
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.huike.ycu.mybatis.model.Customer">
        UPDATE
        customer
        SET
        <if test="username != null">username = #{username},</if>
        <if test="password != null">password = #{password},</if>
        nick_name = #{nickname}
        WHERE
        id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM
            customer
        WHERE
            id = #{id}
    </delete>
    <!-- 抽取公共的列 -->
    <sql id="Base_Column_List">
        id, username, password, sex, nick_name
    </sql>
    <!-- 查询全部的 -->
    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM customer
    </select>
    <!-- 根据id查询 -->
    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM customer
        WHERE id = #{id}
    </select>
</mapper>
